{% form_theme form ':Form:fields.html.twig' %}

{% extends "::base.html.twig" %}

{% block title %}RebrecVPNSSHBundle:Company:add{% endblock %}

{% block body %}
    <h1>Welcome to the Company:add page</h1>
    {{ form(form) }}
{% endblock %}
