{% form_theme form ':Form:fields.html.twig' %}

{% extends "::base.html.twig" %}

{% block title %}Tickets:new{% endblock %}

{% block body %}
<h1>Nouveau Ticket</h1>
{{ form(form) }}{# empty Twig template #}

{% endblock %}
