html
{
    position: relative;
}

body
{
    margin-top: 70px;
    margin-left: 70px;
    margin-right: 70px;
//    font: 11px Verdana, Arial, Helvetica, sans-serif;
    background-color: #f8f8f8;

}

#content
{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border: 1px solid #cccccc;
    margin-top: 20px;
    background-color: white;
    position: relative;
    z-index: 3;
}





footer
{
    background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    margin-top: 70px;
    padding: 70px 0;
}

.pull-center
{
    text-align: center;
}






